USE [master]
GO
/****** Object:  Database [gest-prod]    Script Date: 07/22/2021 00:01:09 ******/
CREATE DATABASE [gest-prod] ON  PRIMARY 
( NAME = N'gest-prod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\gest-prod.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gest-prod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\gest-prod_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gest-prod].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gest-prod]
GO
/****** Object:  Table [dbo].[Employes]    Script Date: 07/22/2021 00:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employes](
	[id_employes] [int] IDENTITY(1,1) NOT NULL,
	[Nom_employes] [varchar](50) NOT NULL,
	[Prenom_employes] [varchar](50) NOT NULL,
	[date_naiss_employes] [date] NULL,
	[Adresse] [varchar](100) NOT NULL,
	[Tel] [int] NULL,
	[Email] [varchar](100) NOT NULL,
	[Mot_de_pass] [char](8) NOT NULL,
	[Admin] [varchar](10) NULL,
 CONSTRAINT [PK__Employes__F807678E0BC6C43E] PRIMARY KEY CLUSTERED 
(
	[id_employes] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employes] ON
INSERT [dbo].[Employes] ([id_employes], [Nom_employes], [Prenom_employes], [date_naiss_employes], [Adresse], [Tel], [Email], [Mot_de_pass], [Admin]) VALUES (1, N'Ahmed', N'TOUTI', CAST(0xD91D0B00 AS Date), N'HAY NAHDA hay', 61025487, N'touti@gmail.com', N'12345678', N'yes')
INSERT [dbo].[Employes] ([id_employes], [Nom_employes], [Prenom_employes], [date_naiss_employes], [Adresse], [Tel], [Email], [Mot_de_pass], [Admin]) VALUES (4, N'Said', N'ALAMI', CAST(0xD31E0B00 AS Date), N'hay fath', 6215841, N'alami@gmail.com', N'12345678', N'no')
INSERT [dbo].[Employes] ([id_employes], [Nom_employes], [Prenom_employes], [date_naiss_employes], [Adresse], [Tel], [Email], [Mot_de_pass], [Admin]) VALUES (8, N'Jalal', N'RAQI', CAST(0x0C1D0B00 AS Date), N'hay nahda', 62315, N'jalal@gmail.com', N'12345678', N'no')
SET IDENTITY_INSERT [dbo].[Employes] OFF
/****** Object:  Table [dbo].[Article]    Script Date: 07/22/2021 00:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Article](
	[id_article] [int] IDENTITY(1,1) NOT NULL,
	[designation] [varchar](50) NOT NULL,
	[prix] [real] NOT NULL,
	[contity_stock] [int] NULL,
	[image_Art] [varbinary](max) NULL,
 CONSTRAINT [PK__Article__64CB31B87F60ED59] PRIMARY KEY CLUSTERED 
(
	[id_article] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Article] ON
SET IDENTITY_INSERT [dbo].[Article] OFF
/****** Object:  StoredProcedure [dbo].[upload]    Script Date: 07/22/2021 00:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[upload]
@des varchar(50),
@prix float,
@contiter int,
@data varbinary(max)
as
begin
insert into Article values
(@des,@prix,@contiter,@data)
end
GO
/****** Object:  StoredProcedure [dbo].[insere]    Script Date: 07/22/2021 00:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insere]
@name varchar(50),@last varchar(50),@date date,@adress varchar(100),@tel int,@email varchar(100),@pass char(8)
as
begin
insert into Employes(Nom_employes,Prenom_employes,date_naiss_employes,Adresse,Tel,Email,Mot_de_pass) values (@name,@last,@date,@adress,@tel,@email,@pass)
end
GO
